# not ignore file
!.keep

# proto file
*.pb.go
*.pb.validate.go

# coverage file
coverage.txt

# build file
app

# secret file
config/**/*.yaml

# external library
third_party

# binary file
bin

# tmp file
tmp
